body {
    font-family: 'TT Norms PRO';
    font-size: 16px;
    color: #333;
}

.modal-dialog {
    background: #fff;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
    border-radius: 17px;
    max-width: 384px;
}

.modal-dialog .modal-content {
    border: none;
    padding: 30px 42px 34px;
    position: relative;
}

.modal-dialog .modal-body {
    padding: 0;
}

.modal-dialog .modal-body p {
    text-align: center;
    color: #333;
    font-family: 'TT Norms PRO';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.modal-dialog .modal-content .close {
    color: #ffddbb;
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-dialog .modal-content .close:hover {
    color: #333;
}

.modal-dialog .line-rev {
    display: flex;
    align-items: center;
}

.modal-dialog .line-rev:last-of-type {
    align-items: flex-start;
}

.modal-dialog .line-rev b {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #333;
    width: 92px !important;
}

.modal-dialog .modal-body .rev-top {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #333;
    margin-bottom: 16px;
}

.modal-dialog .form .inpb input {
    width: 100%;
    height: 50px;
    background: #fcfcfc;
    border: 0.8px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 20px 0 49px;
    font-size: 12px;
    line-height: 50px;
    text-align: left;
    color: #333;
    margin: 14px 0;
}

.modal-dialog .line-rev input {
    width: 177px !important;
    height: 33px !important;
    line-height: 33px !important;
    padding-left: 17px !important;
}

.modal-dialog .line-rev textarea {
    width: 245px;
    height: 98px;
    padding-left: 17px;
    border: 1px solid #333;
    margin: 0 26px;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: normal;
}

.modal-dialog .rating {
    display: flex;
    margin: auto 0;
}

.modal-dialog .rating span {
    background: url(../img/star_grey.png);
    width: 12px;
    height: 12px;
    background-size: cover;
}

.modal-dialog .rating span.active {
    background: url(../img/star_yellow.png);
    background-size: 100%;
}

header {
    background-color: #fffcf3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 9;
    font-family: 'TT Norms PRO';
}

nav {
    width: 100%;
    height: 100px;
}

.navbar-brand {
    margin-right: 38px;
}

.dropdown-menu {
    background-color: #fffcf3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    border: none;
    padding: 56px 0 0;
    position: relative;
    top: -17px;
    margin: 0;
    z-index: 0;
}

.dropdown-item {
    line-height: 20px;
    font-size: 10px;
    color: #000;
    padding: 10px 20px 10px 26px;
    display: flex;
    align-items: center;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: rgb(156, 63, 79);
}

.dropdown-item span {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.menu_icons {
    width: 20px;
    margin-right: 8px;
}

.navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333;
    padding: 0 22px;
}

.nav-item #navbarDropdown {
    position: relative;
    z-index: 1;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(156, 63, 79);
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: rgb(156, 63, 79);
}

.dropdown-toggle::after {
    display: none;
}

.menu-right {
    align-items: center;
}

.menu-contact {
    margin-right: 35px;
}

.menu-contact a {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
}

.menu-contact .telephone {
    margin-right: 5px;
}

.home-banner {
    padding-top: 60px;
    padding-bottom: 25px;
    z-index: 0;
    position: relative;
}

.block {
    background: linear-gradient(180deg, #fffcf3 0%, #ffddbb 100%);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
    border-radius: 18px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-size: auto 100%;
    padding: 100px 70px;
    position: relative;
}

.swiper-container {
    width: 100%;
}

.swiper-pagination-bullet {
    background: #c4c4c4 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 9px !important;
    background: white !important;
}

.home-img {
    position: absolute;
    right: 40px;
    top: -15px;
}

.delivery {
    width: 350px;
    right: 80px;
    top: 2px;
}

.sale {
    width: 400px;
    top: 5px;
    opacity: 0.9;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 38px;
    color: #333;
}

p {
    font-size: 19px;
    line-height: 24px;
}

.home-menu .container {
    overflow: hidden;
}

.swiper-container-menu {
    position: relative;
    overflow: hidden;
}

.home-menu .swiper-slide {
    font-family: 'TT Norms PRO';
    font-size: 20px;
    line-height: 27px;
    padding: 8px 8px;
    color: #4f4f4f;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 50px;
    width: auto !important;
}

.home-menu .swiper-slide.active {
    background: #ffddbb;
    color: #333;
    border-radius: 5px;
}

.home-menu {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 8;
}

.home-products {
    padding-top: 24px;
    padding-bottom: 60px;
}

.all-products {
    margin-bottom: 35px;
}

.row {
    flex-direction: column;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 200px;
    margin-bottom: 50px;
}

.home-products img {
    background: linear-gradient(180deg, #FFF 0%, #e5e5e5 0.01%, #e6e6e6 100%);
    border-radius: 4.52641px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    margin: 9px 0 5px;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 22px;
    color: #333;
}

.title:hover {
    text-decoration: none;
    color: #333;
}

.description {
    font-size: 14.5px;
    line-height: 19px;
    color: #c6c6c6;
    margin-bottom: 8px;
}

.price b {
    font-weight: 500;
    font-size: 18px;
    color: #333;
    margin-right: 18px;
}

.price span {
    font-size: 13px;
    line-height: 23px;
    color: rgb(35, 224, 44);
}

.to-cart {
    font-weight: 500;
    font-size: 18px;
    color: #4f4f4f;
    width: 140px;
    height: 38px;
    left: 223px;
    top: 846px;
    background: #ffddbb;
    border-radius: 4.5px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    margin-top: 13px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.to-cart_active {
    background: #4f4f4f;
    color: #fff;
}

.to-cart:hover {
    text-decoration: none;
    color: #fff;
    background: #4f4f4f;
    border: none;
}

.pagination-block {
    display: flex;
    justify-content: center;
    margin-top: -7px;
}

.page-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4f4f4f;
    width: 41px;
    height: 41px;
    border-radius: 5px;
    text-align: center;
    background-color: none;
    border: 0px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link:hover {
    text-decoration: none;
    color: #333;
}

.page-item.active .page-link {
    background-color: #ffddbb;
    color: #4f4f4f;
    margin: 0 10px;
}

.delivery-post {
    padding: 2px 0;
}

.block-delivery {
    height: 300px;
    width: 100%;
    background: rgb(255, 238, 238);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
    border-radius: 18px;
    padding: 50px 0 30px 50px;
    background-image: url(../img/flowers_car.png);
    background-size: 37%;
    background-position: center right;
    background-repeat: no-repeat;
}


.title-delivery {
    font-size: 23px;
    line-height: 38px;
    color: #333;
    text-transform: uppercase;
}

.delivery-button {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #333;
    width: 218px;
    height: 53px;
    background: #ffddbb;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 53px;
    margin-top: 34px;
}

.delivery-button:hover {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #ffddbb;
    padding: 34px 0;
    color: #333;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.phones {
    display: flex;
    justify-content: space-between;
}

.phone-item {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

footer span {
    font-size: 13.8px;
    line-height: 32px;
}

footer a {
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    color: #333;
}

footer a:hover {
    text-decoration: none;
    color: #333;
}

.work-time {
    font-size: 15.5px;
    line-height: 32px;
    margin: 10px 0;
}

.work-email {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 32px;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a {
    font-family: 'TT Norms PRO';
    font-weight: 500;
    font-size: 15.4px;
    line-height: 32px;
    letter-spacing: 3.08px;
    font-variant: small-caps;
    text-transform: uppercase;
}

.person {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15.5px;
    line-height: 32px;
}

.footer-bottom {
    margin-top: 9px;
    font-family: 'TT Norms PRO';
}

.footer-bottom a {
    font-size: 12.4px;
    line-height: 32px;
    margin-left: 33px;
}

.page-content {
    padding: 45px 60px;
}

.page-content h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333;
    margin-bottom: 25px;
}

.page-content p {
    color: #333;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.page-content li {
    color: #333;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.page-pay {
    padding: 45px 60px;
}

.page-pay h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333;
    margin-bottom: 25px;
}

.page-pay h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #333;
    margin-bottom: 25px;
}

.page-pay p {
    color: #333;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.shop {
    font-family: 'TT Norms PRO';
    font-weight: 500;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px;
    align-items:center;
}

.first_title {
    font-size: 37px;
    font-weight: 700;
    width: 630px;
    line-height: 49px;
    margin: 43px 0 23px;
}

.our-benefits {
    background-color: #ffddbb;
    padding: 105px 0 115px;
    color: #333;
}

.block_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.icon_title {
    font-size: 19px;
    margin-bottom: 15px;
}

.icon_text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.choise {
    background: url('../img/big_choise.png') no-repeat center top;
    background-size: 50%;
    padding-top: 150px;
    width: 290px;
    text-align: center;
}

.quality {
    width: 273px;
    background: url('../img/quality.png') no-repeat center top;
    background-size: 50%;
    padding-top: 150px;
    text-align: center;
}

.dostavka {
    width: 305px;
    background: url('../img/dostavka.png') no-repeat center top;
    background-size: 50%;
    padding-top: 150px;
    text-align: center;
}

#slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}
    
#slides article {
    width: 20%;
    float: left;
}
    
#slides .image {
    width: 500%;
    line-height: 0;
}
    
#overflow {
    width: 100%;
    overflow: hidden;
}
    
article img {
    width: 100%;
}
    
#desktop:checked ~ #slider {
    max-width: 960px; 
}
    
#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
    background: url('../img/prev.png') no-repeat;
    float: left;
    margin: 0 0 0 -84px;
    display: block;
    height: 68px;
    width: 68px;
}
    
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
    background: url('../img/next.png') no-repeat;
    float: right;
    margin: 0 -84px 0 0;
    display: block;
    height: 68px;
    width: 68px;
}
    
.gallery label, a {
    cursor: pointer;
}
    
.all {
    padding: 25px 0;
}

.all input {
    display: none;
}
    
#switch1:checked ~ #slides .image {
    margin-left: 0;
}
    
#switch2:checked ~ #slides .image {
    margin-left: -100%;
}
    
#switch3:checked ~ #slides .image {
    margin-left: -200%;
}
    
#controls {
    margin: -35% 0 0 0;
    width: 100%;
    height: 250px;
}
    
#active label { 
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}
    
#active {
    margin: 12% 0 0;
    text-align: center;
}
    
#active label:hover {
    background: #ffddbb;
    border-color: #777 !important;
}
    
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
    background: rgb(156, 63, 79);
    border-color: rgb(156, 63, 79) !important;
}
    
#slides .image { 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
    
#controls label:hover { 
    opacity: 0.6;
}
    
#controls label { 
    transition: opacity 0.2s ease-out;
}

.card-product {
    padding: 60px 0;
}

.card-product .card-top {
    display: flex;
    justify-content: space-between;
}

.card-product .card-img {
    width: 63%;
    height: 379px;
    background: #FFF;
    border-radius: 15px;
    background-image: url(../img/picture.png);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-img .card_of_product {
    height: 100%;
    display: block;
    margin: auto;
} 

.card-product .card-sidebar {
    width: 43%;
    background: #FFF;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 23px;
    color: #333;
    margin-bottom: -20px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price span {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}

.available {
    color: rgb(35, 224, 44);
}

.card-price b {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}

.input-range {
    width: 117px;
    height: 43px;
    font-size: 13px;
    line-height: 19px;
    color: #333;
    background: #ffddbb;
    border: 0.9px solid #ebe;
    box-sizing: border-box;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.input-range input {
    width: 40%;
    text-align: center;
    border: none;
    background: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #333;
}

.input-range span.button {
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.to-pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-pay span {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333;
}

.to-pay b {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: rgb(156, 63, 79);
}

.pay-block {
    display: flex;
    justify-content: space-between;
}

.pay-block .to-cart {
    margin-top: 0;
}

.pay-block .card-add {
    border: none;
    background-image: url(../img/basket.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
    background-color: #ffddbb;
    border-radius: 5px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.card-bottom .card-info {
    width: 67%;

}

.card-info .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 0px solid #dee2e6;
    padding-right: 35px;
    margin-bottom: 40px;
}

.card-info .nav-tabs .nav-link {
    font-size: 29px;
    line-height: 19px;
    color: #333;
    border: 0px solid transparent;
    padding: 0;
}

.card-info .nav-tabs .nav-link.active {
    font-weight: 500;
    font-size: 29px;
    line-height: 19px;
    color: rgb(156, 63, 79);
}

.tab-content .tab-pane {
    padding: 0;
    position: relative;
}

.tab-content .product_ul {
    margin: 0;
    padding: 0;
}

.tab-content .product_ul li {
    list-style: none;
    font-style: normal;
    font-size: 18px;
    line-height: 36px;
    color: #333;
}

.tab-content .product_ul li b {
    font-weight: 500;
}

.card-info .tab {
    font-weight: 500;
    font-size: 22px;
    line-height: 19px;
    color: #333;
    margin-bottom: 22px;
}

.card-info p {
    font-size: 18px;
    line-height: 19px;
    color: #333;
    padding-right: 35px;
}

.slider-reviews {
    position: relative;
    overflow: hidden;
    padding-right: 77px;
}

.slider-reviews::before {
    width: 77px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: white;
    z-index: 9;
}

.swiper-button-next span {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    margin-right: 5px;
    color: #333;
}

.swiper-button-next img {
    width: 40px;
}

.swiper-button-next::after {
    content: '';
}

.slider-reviews .swiper-wrapper {
    justify-content: flex-start;
}

.slider-reviews .swiper-slide {
    background: #ffddbb56;
    border-radius: 11px;
    padding: 15px;
    width: 325.5px;
    margin-right: 16px;
}

.slider-reviews .rev_header {
    display: flex;
}

.slider-reviews .avatar {
    width: 50px;
    margin-right: 5px;
}

.slider-reviews .rev_header img {
    height: 47px;
}

.slider-reviews .rev_avatar {
    display: flex;
    flex-direction: column;
}

.slider-reviews .rev_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333;
}

.rev_avatar .rating {
    display: flex
}

.rev_avatar .rating span {
    background: url(../img/star_grey.png);
    width: 12px;
    height: 12px;
    background-size: cover;
}

.rev_avatar .rating span.active {
    background: url(../img/star_yellow.png);
    background-size: cover;
}

.slider-reviews .rev_social {
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #2d9cdb;
}

.rev_footer p {
    font-size: 12px;
    line-height: 13px;
    color: #333;
}

.card-bottom .card-sidebar {
    width: 30%;
    background: #fff;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
}

.card-sidebar .title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 17px;
    color: #333;
}

.card-sidebar .line {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #333;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card-sidebar .line img {
    height: 35px;
    margin-right: 15px;
}

.cart-product {
    padding: 60px 0;
    color: #333;
}

.cart-product .cart-product_order .cart-wrapper {
    align-items: stretch;
}

.cart-product .cart-sidebar {
    width: 451px;
    margin-left: 35px;
}

.cart-product .cart-sidebar form .mt87 {
    margin-top: 87px;
}

.cart-sidebar .form-line input {
    height: 64px;
    width: 100%;
    background: #fff;
    border: 1px solid #ffddbb;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0 29px;
    font-size: 16px;
    line-height: 64px;
    color: #333;
    margin: 4px 0 18px;
}

.cart-sidebar .form-line select {
    height: 64px;
    width: 100%;
    background: #fff;
    border: 1px solid #ffddbb;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0 29px;
    font-size: 16px;
    line-height: 64px;
    color: #333;
    margin: 4px 0 18px;
}

.cart-sidebar .form-line .label {
    font-size: 16px;
    line-height: 24px;
}

.cart-sidebar .form-line .label.active {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: rgb(156, 63, 79);
    margin-bottom: 35px;
}


.cart-product .cart-info {
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product .cart-sum .button-line {
    margin-bottom: 8px;
}

.cart-product .cart-sum .button-line button {
    height: 32px;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 32px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
    color: #333;
    margin-right: 10px;
    background: transparent;
    min-width: 113px;
}

.cart-product .line-card span {
    font-size: 20px;
}

.cart-product .line-card b {
    font-size: 20px;
    padding-left: 20px;
}

.cart-product .cart-sum .button-line button.active {
    color: #333;
    background: #ffddbb;
}

.cart-product .cart-sum .block-info {
    width: 466px;
    height: 126px;
    background: white;
    box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 34px 30px;
    display: flex;
    justify-content: space-between;
}

.cart-product .cart-sum .block-info .left-info {
    width: 50%;
}

.cart-product .cart-sum .block-info .left-info .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product .cart-sum .block-info .left-info .line:not(:last-child) {
    margin-bottom: 15px;
}

.cart-sum .block-info .left-info .line span {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}

.cart-sum .block-info .left-info .line b {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}

.cart-sum .block-info .left-info .line b.green {
    color: rgb(156, 63, 79);
}

.cart-sum .block-info .right-info {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.cart-sum .block-info .right-info span {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #333;
}

.cart-sum .block-info .right-info b {
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #333;
}

.cart-product .cart-top .sub-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 20px;
    color: #333;
    margin-bottom: 16px;
}

.cart-product .cart-top .order-product-items {
    margin: 15px 0;;
}

.cart-product .cart-top .order-product-items .cart-product-item {
    padding: 15px 15px;
    border: 1px solid #ebeb;
    border-radius: 15px;
    margin-bottom: 5px;
}

.cart-product .cart-top .cart-product-items {
    margin: 15px 0;;
}

.cart-product .cart-top .cart-product-items .cart-product-item {
    padding: 15px 15px;
    border: 1px solid #ebeb;
    border-radius: 15px;
    margin-bottom: 5px;
}

.cart-product .cart-top .cart-product-left {
    float:left;
    position: relative;
    width: 300px;
    margin-bottom: 15px;
}

.cart-product .cart-top .cart-product-right {
    margin-left: 315px;
    position: relative;
    width: 300px;
    background-color: #FFF;
}

.cart-product .cart-top .cart-product-left .cart-product-remove {
    height: 10px;
    margin: 15px 0;
}

.cart-product .cart-top .cart-product-left .cart-product-img {
    width: 78px;
    height: 54px;
    padding: 0 25px 0 15px;
}

.cart-product .cart-top .cart-product-left .cart-product-img img {
    height: 50px;
}

.cart-product .cart-top .cart-product-name {
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
}

.cart-product .cart-top .cart-product-prise {
    margin: 10px 30px;
}

.cart-product .cart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-product .cart-sidebar {
    width: 30%;
}

/* .cart-popup {
    display: none;
} */

/* .cart-popup {
    background: #fff;
    left: 50%;
    width: auto;
    bottom: 24px;
    display: block !important;
    padding: 49px 33px 47px;
}

.cart-popup h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333;
    margin-bottom: 25px;
}

.cart-popup .cart-product-items {
    margin-bottom: 12px;
}

.cart-popup .cart-product-items .cart-product-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
    border-bottom: 1px solid #ebeb;
}

.cart-popup .cart-product-items .cart-product-item:first-child {
    border-top: 1px solid #ebeb;
}

.cart-popup .cart-product-items .cart-product-item .d-flex {
    align-items: center;
}

.cart-popup .cart-product-remove {
    cursor: pointer;
    height: 10px;
    width: 10px;
    /* margin: 15px 0; 
}*/

/* .cart-popup .cart-product-img {
    width: 78px;
    height: 54px;
    padding: 0 25px 0 15px;
    border-radius: 5px;
    margin: 0 7px 0 3px;
}

.cart-popup .cart-product-img img {
    height: 50px;
}

.cart-popup .cart-product-name {
    font-size: 16px;
    line-height: 10px;
    color: #333;
}

.cart-popup .cart-product-toggle .input-range {
    width: 117px;
    height: 43px;
    font-size: 13px;
    line-height: 19px;
    color: #333;
    background: #ffddbb;
    border: 0.9px solid #ebe;
    box-sizing: border-box;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cart-popup .cart-product-toggle .input-range::after {
    content: attr(data-desc);
    position: absolute;
    bottom: -18px;
    right: 0;
    font-size: 9px;
    line-height: 14px;
    color: #c6c6c6;
}

.cart-popup span.button {
    width: 32%;
    text-align: center;
    cursor: pointer;
}

.cart-popup input {
    width: 36%;
    text-align: center;
    border: none;
    background: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #333;
}

.cart-popup .cart-product-prise {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin-left: 15px;
    width: 72px;
} */

.cart-product .purchase-info {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
    margin: 32px;
    padding: 30px;
}

.purchase-info .title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #333;
    margin: 0;
}

.purchase-info .line {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #333;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.purchase-info .line img {
    margin-right: 20px;
    height: 32px;
} 

.cart-btn {
    cursor: pointer;
    width: auto;
    height: 54px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-top: 0;
    background: #ffddbb;
    color: #333;
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: block;
}

.cart-btn:hover {
    text-decoration: none;
    color: #333;
}

.card-bottom .tab-pane .rev_button {
    margin: 15px 0;
}

.card-bottom .tab-pane .rev_button a {
    cursor: pointer;
    width: 130px;
    height: 38px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    margin-top: 0;
    background: #ffddbb;
    color: #333;
    padding: 12px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: block;
}

.card-bottom .tab-pane .rev_button a:hover {
    text-decoration: none;
}


@media (min-width:992px) and (max-width:1200px) {
    .container {
        width: 100%;
        padding: 0;
    }
    
    header {
        width: 100%;
        position: fixed;
    }
    
    section, footer {
        width: 100%;
        overflow-x: hidden;
    }

    .home-menu {
        position: sticky;
        top: 100px;
        background: #fff;
        z-index: 8;
    }

    .home-banner {
        padding-top: 140px;
    }

    .home-img {
        right: 38px;
        top: -10px;
        height: 285px;
        width: 311px;
    }

    .home-banner h2 {
        font-size: 30px;
    }

    .home-banner p {
        font-size: 16px;
        line-height: 21px;
    }

    .home-menu .swiper-slide {
        font-size: 17px;
        line-height: 20px;
        margin: 0 48px;
    }

    .all-products {
        margin-bottom: 29px;
        font-size: 21px;
        line-height: 25px;
    }

    .home-products img {
        height: 220px;
    }

    .title-delivery {
        font-size: 25px;
        line-height: 32px;
    }

    .card-product {
        padding: 125px 0;
    }

    .card-product .card-img {
        width: 60%;
        height: 380px;
    }

    .card-product .card-sidebar {
        width: 40%;
        padding: 27px;
    }

    .pay-block .to-cart {
        width: 150px;
        height: 37px;
        font-size: 18px;
        line-height: 19px;
        margin-top: 0;
    }

    .shop {
        padding: 125px 0 80px;
    }

    .about-shop .create_life {
        width: 515px;
    }

    .about-shop .first_title {
        font-size: 30px;
        line-height: 32px;
        margin: 30px 0 30px;
    }

    .about-shop img {
        height: 270px !important;
        padding: 10px;
    }

    .about-shop .create_life p {
        font-size: 17px;
        line-height: 24px;
    }

    .page-content, .page-pay {
        padding: 150px 60px;
    }

    .cart-popup {
        padding: 140px 33px 50px;
    }

    .cart-product {
        padding: 145px 0;
    }

    .cart-product .cart-wrapper .cart-sidebar {
        margin-top: 25px;
    }

}


@media (min-width:768px) and (max-width:991px) {
    .container {
        width: 750px;
        padding: 0;
    }
    
    header {
        width: 100%;
        position: fixed;
    }
    
    section, footer {
        width: 100%;
        overflow-x: hidden;
    }

    .home-menu {
        position: sticky;
        top: 60px;
        background: #fff;
        z-index: 8;
    }

    header nav.navbar {
        height: 60px;
        padding: 0;
        position: static;
    }

    header nav.navbar .navbar-toggler {
        order: 1;
        padding: 0;
        border: 0;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .navbar-toggler span {
        background-image: url(../img/computer-icons-hamburger.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 45px;
        height: 50px;
    }

    header nav.navbar .navbar-brand {
        order: 2;
        margin-right: 0;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .navbar-brand img {
        height: 42px !important;
    }

    header nav.navbar .menu-right {
        order: 3;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .menu-right a {
        margin-left: 0;
    }

    header nav.navbar .menu-right a img {
        height: 30px !important;
        margin: 0 20px;
    }

    header nav.navbar .menu-right .menu-contact {
        margin-right: 0;
    }

    header nav.navbar .menu-right .menu-contact a img {
        margin: 0;
        height: 25px !important;
    }

    header nav.navbar .menu-right .menu-contact a span {
        display: none;
    }

    .navbar-collapse {
        position: fixed;
        left: 0;
        padding-top: 60px;
        top: 0;
        background: #ffddbb;
        width: 333px;
        height: 100vh;
        border-radius: 0 8px 8px 0;
        overflow: hidden;
    }

    .navbar-collapse::before {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: #fffcf3;
        border-radius: 0 5px 5px 5px;
    }

    .navbar-nav .nav-item .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #333;
        margin-top: 20px;
        padding: 0 21px 0 32px;
        position: relative !important;
    }

    .navbar-nav .nav-item .dropdown-menu {
        background: #ffddbb;
        padding: 20px 0;
        box-shadow: none;
    }

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        font-weight: normal;
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        color: #333;
    }

    .home-banner {
        padding-top: 90px;
    }

    .home-img {
        position: absolute;
        right: 27px;
        top: 12px;
        height: 230px;
        width: 230px;
    }

    .home-banner h2 {
        font-size: 22px;
    }

    .home-banner p {
        font-size: 13px;
        line-height: 12px;
    }

    .home-menu {
        position: sticky;
        top: 60px;
        background: #fff;
        z-index: 8;
    }

    .home-menu .swiper-slide {
        font-family: 'TT Norms PRO';
        font-size: 12px;
        line-height: 12px;
        padding: 8px 8px;
        color: #4f4f4f;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 32px;
        width: auto !important;
    }

    .all-products {
        margin-bottom: 25px;
        font-size: 17px;
        line-height: 18px;
    }

    .home-products img {
        height: 205px;
    }

    .title-delivery {
        font-size: 21px;
        line-height: 32px;
    }

    .delivery-button {
        font-size: 19px;
        width: 200px;
        height: 44px;
        line-height: 42px;
    }

    .phone-item {
        margin-right: 36px;
    }

    footer a {
        font-size: 13px;
        line-height: 28px;
    }

    .social a {
        font-size: 12px;
        line-height: 26px;
    }

    .work-time {
        font-size: 13px;
        line-height: 26px;
    }

    .person {
        font-size: 10px;
    }

    .card-product {
        padding: 85px 0;
    }

    .card-product .card-img {
        width: 58%;
        height: 380px;
    }

    .card-product .card-sidebar {
        width: 42%;
        padding: 27px;
    }

    .pay-block .to-cart {
        width: 150px;
        height: 37px;
        font-size: 15px;
        line-height: 17px;
        margin-top: 0;
    }

    .card-bottom {
        flex-direction: column;
        margin-top: 60px;
    }

    .card-bottom .cart-info {
        width: 100%;
    }

    .card-bottom .card-sidebar {
        width: 100%;
    }

    .shop {
        padding: 79px 0 80px;
    }

    .about-shop .create_life {
        width: 380px;
    }

    .about-shop .first_title {
        font-size: 22px;
        line-height: 23px;
        margin: 25px 0 25px;
    }

    .about-shop img {
        height: 205px !important;
        padding: 10px;
    }

    .about-shop .create_life p {
        font-size: 17px;
        line-height: 24px;
    }

    .our-benefits {
        background-color: #ffddbb;
    }

    #controls {
        margin: -43% 0 0 0;
    }

    article img {
        width: 85%;
    }

    #switch1:checked ~ #controls label:nth-child(3), #switch2:checked ~ #controls label:nth-child(1), #switch3:checked ~ #controls label:nth-child(2) {
        background-size: 22%;
        margin: 85px 0 0 -12px;
        height: 44px;
        width: 201px;
    }

    #switch1:checked ~ #controls label:nth-child(2), #switch2:checked ~ #controls label:nth-child(3), #switch3:checked ~ #controls label:nth-child(1) {
        background-size: 22%;
        margin: 85px -170px 0 0;
        height: 44px;
        width: 201px;
    }

    .choise, .quality, .dostavka {
        background-size: 31%;
        padding-top: 75px;
        margin: 3px 10px;
    }

    .page-content, .page-pay {
        padding: 100px 60px;
    }

    .cart-popup {
        padding: 100px 33px 50px;
    }

    .cart-product {
        padding: 90px 0 30px;
    }

    .cart-product .cart-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }

    .cart-product .cart-top .cart-product-items {
        margin: 25px 0;
    }

    .cart-product .cart-top .sub-title {
        margin: 20px 0;
    }

    .cart-product .cart-sum .block-info {
        width: 100%;
    }

    .cart-product .cart-info {
        margin-bottom: 40px;
    }

    .cart-product .cart-wrapper .cart-sidebar {
        width: 80%;
    }

}

@media (max-width:767px){

    .container {
        width: 320px;
        padding: 0;
    }
    
    header {
        width: 100%;
        position: fixed;
    }
    
    section, footer {
        width: 100%;
        overflow-x: hidden;
    }

    .home-menu {
        position: sticky;
        top: 44px;
        background: #fff;
        z-index: 8;
    }

    header nav.navbar {
        height: 45px;
        padding: 0;
        position: static;
    }

    header nav.navbar .navbar-toggler {
        order: 1;
        padding: 0;
        border: 0;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .navbar-toggler span {
        background-image: url(../img/computer-icons-hamburger.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 35px;
        height: 45px;
    }

    header nav.navbar .navbar-brand {
        order: 2;
        margin-right: 0;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .navbar-brand img {
        height: 32px !important;
    }

    header nav.navbar .menu-right {
        order: 3;
        position: relative;
        z-index: 3;
    }

    header nav.navbar .menu-right a {
        margin-left: 0;
    }

    header nav.navbar .menu-right a img {
        height: 25px !important;
        margin: 0 20px;
    }

    header nav.navbar .menu-right .menu-contact {
        margin-right: 0;
    }

    header nav.navbar .menu-right .menu-contact a img {
        margin: 0;
        height: 20px !important;
    }

    header nav.navbar .menu-right .menu-contact a span {
        display: none;
    }

    .navbar-collapse {
        position: fixed;
        left: 0;
        padding-top: 45px;
        top: 0;
        background: #ffddbb;
        width: 270px;
        height: 100vh;
        border-radius: 0 8px 8px 0;
        overflow: hidden;
    }

    .navbar-collapse::before {
        width: 100%;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: #fffcf3;
        border-radius: 0 8px 8px 8px;
    }

    .navbar-nav .nav-item .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #333;
        margin-top: 11px;
        padding: 0 21px 0 32px;
        position: relative;
    }

    .navbar-nav .nav-item .dropdown-menu {
        background: #ffddbb;
        padding: 12px 0;
        box-shadow: none;
    }

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        font-weight: normal;
        font-style: normal;
        font-size: 9px;
        line-height: 10px;
        color: #333;
    }

    .menu_icons {
        width: 15px;
        margin-right: 8px;
    }

    .home-banner {
        padding-bottom: 12px;
    }

    .home-banner .block {
        height: 100px;
        padding: 17px 175px 17px 12px;
        border-radius: 8px;
    }

    .home-banner .block img {
        height: 100%;
        width: auto;
        top: 0;
        right: 40px;
    }

    .home-banner .block h2 {
       font-size: 10px;
       line-height: 12px;
    }

    .home-banner .block p {
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 0;
    }

    .home-menu .swiper-container-menu a {
        font-size: 6px;
        line-height: 12px;
        margin: 0px 1px;
        padding: 3px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: -12px 4px !important;
    }

    .home-products {
        padding-top: 14px;
        padding-bottom: 0;
    }

    .home-products .all-products {
        margin-bottom: 27px;
        font-size: 8px;
        line-height: 10px;
    }

    .home-products .products-wrapper .product {
        width: 87px;
        margin-bottom: 27px;
    }

    .home-products .product img {
        height: 54px;
    }

    .home-products .product .title {
        font-size: 6px;
        line-height: 22px;
        margin: 3px 0 -1px;
        width: 115px;
    }

    .home-products .product .description {
        font-size: 8px;
        line-height: 7px;
        margin-bottom: -3px;
    }

    .home-products .product .price b {
        font-size: 9px;
        margin-right: 2px;
    }

    .home-products .product .price span {
        font-size: 7px;
    }

    .home-products .product .to-cart {
        width: 72px;
        height: 16px;
        font-size: 9px;
        line-height: 15px;
        margin-top: 0;
    }

    .home-products .pagination-block {
        margin-top: 12px;
        height: 70px;
    }

    .home-products .pagination-block a {
        font-size: 10px;
        line-height: 12px;
        width: 21px;
        height: 23px;
    }

    .delivery-post .block-delivery {
        height: 100px;
        padding: 26px 20px;
    }

    .delivery-post .block-delivery .title-delivery {
        font-size: 8px;
        line-height: 10px;
    }

    .delivery-post .block-delivery a {
        font-size: 8px;
        line-height: 21px;
        width: 70px;
        height: 21px;
        margin-top: 0;
    }

    footer {
        padding: 10px 0;
    }

    footer .footer-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    footer .footer-left {
        display: flex;
        justify-content: space-between;
    }

    footer span {
        font-size: 6px;
        line-height: 6px;
    }

    footer a {
        font-size: 6px;
        line-height: 12px;
    }

    footer .work-time {
        font-size: 5px;
        line-height: 9px;
        margin: 0 6px;
    }

    footer .social {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .social a {
        font-size: 6px;
        line-height: 11px;
    }

    footer .person {
        font-size: 5px;
        line-height: 20px;
        margin: 0;
    }

    .footer-bottom {
        margin-top: -11px;
    }

    footer .footer-bottom a {
        font-size: 4.4px;
        line-height: 7px;
    }

    .page-content, .page-pay {
        padding: 68px 10px 25px;
    }

    .page-content h1, .page-pay h1 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .page-content p, .page-pay p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .page-content li {
        font-size: 10px;
        line-height: 14px;
    }

    .page-content .page-content-wrapper ul {
        margin-bottom: 10px;
    }

    .page-pay h6 {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 5px;
    }

    .about-shop .shop {
        padding: 60px 15px 20px;
    }

    .about-shop .create_life {
        width: 140px;
    }

    .about-shop .first_title {
        font-size: 10px;
        line-height: 12px;
        margin: 8px 0 8px;
    }

    .about-shop img {
        height: 105px !important;
        padding: 10px;
    }

    .about-shop p {
        font-size: 8px;
        line-height: 10px;
    }

    .our-benefits {
        padding: 20px 0 45px;
    }

    .block_title {
        font-size: 13px;
    }

    .icons {
        margin-top: 10px;
    }

    .choise, .quality, .dostavka {
        background-size: 31%;
        padding-top: 40px;
        margin: 3px 10px;
    }

    .icon_title {
        font-size: 8px;
        margin-bottom: 5px;
    }

    .icon_text {
        font-size: 8px;
        line-height: 10px;
    }

    .all {
        padding: 10px 60px;
    }

    .block_title {
        font-size: 10px;
    }

    #switch1:checked ~ #controls label:nth-child(2), #switch2:checked ~ #controls label:nth-child(3), #switch3:checked ~ #controls label:nth-child(1) {
        background: url(../img/next.png) no-repeat;
        background-size: 11%;
        float: right;
        margin: 169px -220px 0 0;
        display: block;
        height: 22px;
        width: 201px;
    }

    #switch1:checked ~ #controls label:nth-child(3), #switch2:checked ~ #controls label:nth-child(1), #switch3:checked ~ #controls label:nth-child(2) {
        background: url(../img/prev.png) no-repeat;
        background-size: 11%;
        float: left;
        margin: 169px 0 0 -44px;
        display: block;
        height: 22px;
        width: 201px;
    }

    #active label {
        border-radius: 10px;
        width: 5px;
        height: 5px;
    }

    #active {
        margin: 0;
    }

    #controls {
        margin: -124% 0 0 0;
    }

    .card-product {
        padding: 20px 0;
    }

    .card-product .card-top {
        flex-direction: column;
    }

    .card-product .card-img {
        width: 100%;
        height: 209px;
        margin-bottom: 10px;
        padding-top: 60px;
    }

    .card-product .card-sidebar {
        width: 100% !important;
        padding: 12px 22px 15px;
    }

    .card-title {
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .description {
        font-size: 9px;
        line-height: 10px;
        margin-bottom: 11px;
    }

    .card-price span {
        font-weight: 500;
        font-size: 8.5px;
        line-height: 12px;
    }

    .card-price b {
        font-size: 10px;
        line-height: 12px;
    }

    .input-range {
        width: 55px;
        height: 19px;
        font-size: 10px;
        line-height: 7px;
        border-radius: 8px;
    }

    .input-range input {
        font-size: 7px;
        line-height: 7px;
    }

    .to-pay span {
        font-size: 11px;
        line-height: 12px;
    }

    .to-pay b {
        font-size: 12px;
        line-height: 24px;
    }

    .pay-block .to-cart {
        width: 72px;
        height: 25px;
        font-size: 10px;
        line-height: 15px;
        margin-top: 0;
    }

    .pay-block .card-add {
        background-size: 27%;
        width: 52px;
        height: 25px;
    }

    .card-bottom {
        flex-direction: column;
    }

    .card-bottom .card-info {
        width: 100%;
    }

    .card-bottom .card-sidebar {
        width: 100%;
    }

    .card-bottom {
        margin-top: 20px;
    }

    .card-info .nav-tabs {
        margin-bottom: 20px;
    }

    .nav-tabs .nav-link {
        font-size: 14px !important;
        line-height: 15px !important;
    }

    .card-info .tab {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .card-info p {
        font-size: 9px;
        line-height: 15px;
    }

    .tab-content .product_ul {
        margin-bottom: 15px;
    }

    .tab-content .product_ul li {
        font-size: 9px;
        line-height: 12px;
    }

    .slider-reviews {
        padding: 0;
        margin-bottom: 13px;
    }

    .slider-reviews::before {
        display: none;
    }

    .card-bottom .tab-pane .rev_button a {
        width: 77px;
        height: 26px;
        font-size: 8px;
        line-height: 10px;
        padding: 8px 0;
    }

    .swiper-button-next span {
        display: none;
    }

    .slider-reviews .rev_header img {
        height: 36px;
    }

    .rev_avatar .rating span {
        width: 10px;
        height: 10px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        display: none !important;
    }

    .cart-product .swiper-wrapper .swiper-slide {
        width: 195px !important;
        padding: 11px;
    }

    .slider-reviews .swiper-slide {
        padding: 10px;
    }

    .slider-reviews .rev_header {
        width: 27px;
        height: 27px;
    }

    .slider-reviews .rev_name {
        font-size: 8px;
        line-height: 9px;
        padding-bottom: 3px;
    }

    .slider-reviews .rev_social {
        font-size: 6px;
        line-height: 9px;
        padding: 2px 0;
    }

    .rev_footer p {
        font-size: 8px;
        line-height: 9px;
        padding: 15px 0 0;
    }

    .card-sidebar .title {
        font-size: 11px;
        line-height: 13px;
    }

    .card-sidebar .line img {
        height: 20px;
        margin-right: 8px;
    }

    .card-sidebar .line {
        font-size: 8px;
        line-height: 10px;
        margin-top: 11px;
    }

    .cart-product {
        padding: 60px 0 30px;
    }

    .cart-product .cart-info {
        width: 100%;
    }

    .cart-product .cart-wrapper .cart-sidebar {
        width: 100%;
        margin: 15px 0 0 31px;
    }

    .cart-product .cart-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }

    .cart-product .cart-sum .block-info {
        width: 100%;
    }

    .cart-product .cart-top .cart-product-left .cart-product-img {
        width: 58px;
        height: 38px;
        padding: 0 0px 0 8px;
    }

    .cart-product .cart-top .cart-product-name {
        font-size: 9px;
        margin: 13px 5px 13px 3px;
    }

    .cart-product .cart-top .cart-product-left .cart-product-img img {
        height: 38px;
    }

    .cart-product .cart-product-toggle {
        margin: -38px -152px;
    }

    .cart-product .cart-top .cart-product-prise {
        margin: -30px 175px;
        font-size: 12px;
    }

    .cart-product .cart-top .cart-product-left .cart-product-remove {
        height: 6px;
        margin: 18px 0;
    }

    .cart-product .cart-top h1 {
        font-size: 15px;
    }

    .cart-product .cart-top .sub-title {
        font-size: 11px;
        line-height: 12px;
        margin: 20px 0 0 ;
    }

    .cart-product .cart-top .cart-product-left {
        margin-bottom: 0px;
    }

    .cart-product .cart-top .cart-product-items .cart-product-item {
        padding: 10px 15px;
    }

    .cart-product .cart-sum .button-line button {
        height: 22px;
        padding: 0 15px;
        font-size: 9px;
        line-height: 10px;
        min-width: 62px;
    }

    .cart-sum .block-info .left-info .line span {
        font-size: 8px;
        line-height: 10px;
    }

    .cart-sum .block-info .left-info .line b {
        font-size: 9px;
        line-height: 13px;
    }

    .cart-sum .block-info .right-info span {
        font-size: 10px;
        line-height: 13px;
    }

    .cart-sum .block-info .right-info b {
        font-size: 13px;
        line-height: 21px;
    }

    .cart-product .cart-sum .block-info {
        height: 79px;
        padding: 18px 30px;
    }

    .cart-sidebar .form-line .label {
        font-size: 9px;
        line-height: 13px;
    }

    .cart-sidebar .form-line input {
        height: 19px;
        width: 80%;
        padding: 0 13px;
        font-size: 6px;
        line-height: 20px;
        margin: 8px 0 3px;
    }

    .cart-sidebar .form-line select {
        height: 19px;
        width: 80%;
        padding: 0 13px;
        font-size: 6px;
        line-height: 20px;
        margin: 4px 0 8px;
    }

    .cart-sidebar .form-line .label.active {
        font-size: 9px;
        line-height: 13px;
        margin-bottom: 16px;
    }

    .cart-sidebar form button {
        width: 130px;
        height: 27px;
        font-size: 8px;
        line-height: 14px;
        margin: 10px 0;
    }

    .modal-dialog .modal-body .rev-top {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 11px;
    }

    .modal-dialog .line-rev b {
        font-size: 7px;
        line-height: 10px;
        width: 76px !important;
    }

    .modal-dialog .rating span {
        width: 8px;
        height: 8px;
    }

    .modal-dialog .form .inpb input {
        width: 123px !important;
        height: 19px !important;
        line-height: 10px !important;
        padding: 0 7px 0 10px;
        font-size: 8px;
        margin: 3px 0;
    }

    .modal-dialog .line-rev textarea {
        width: 122px;
        height: 60px;
        padding-left: 4px;
        margin: 0 1px;
        font-size: 8px;
        line-height: 8px;
    }

    .modal-dialog .form button {
        height: 19px;
        padding: 7px 20px;
        min-width: 125px;
        font-size: 7px;
        line-height: 7px;
        margin: 8px auto;
    }

    .modal-dialog .modal-content {
        border: none;
        padding: 22px 39px 22px;
        position: relative;
    }

    .purchase-info {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
        margin: 14px;
        padding: 19px;
    }

    .purchase-info .title {
        font-size: 12px;
        line-height: 14px;
    }

    .purchase-info .line img {
        margin-right: 10px;
        height: 18px;
    }

    .purchase-info .line {
        font-size: 8px;
        line-height: 11px;
        margin-top: 8px;
    }

    .cart-btn {
        height: 32px;
        font-size: 9px;
        line-height: 12px;
        padding: 11px 0;
    }
    
    .cart-product .order {
        width: 259px !important;
        height: 29px !important;
        font-size: 10px;
    }
}